button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  
}
.music {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.play {
  padding: 25px;
  font-size: 100px;
}
.range {
  width: 600px;
}
.btns-player {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}
.fav{
    display: flex;
    align-items: center;
    justify-content: center;
}
